{% load static %}
<footer>
    <div class="footer clearfix mb-0 text-muted">
        <div class="float-start">
            <p>2024 &copy; Django CRM</p>
        </div>
    </div>
</footer>
        </div>
    </div>
    <script src="{% static 'assets/static/js/components/dark.js' %}"></script>
    <script src="{% static 'assets/extensions/perfect-scrollbar/perfect-scrollbar.min.js' %}"></script>
    
    
    <script src="{% static 'assets/compiled/js/app.js' %}"></script>
    

    
<script src="{% static 'assets/extensions/simple-datatables/umd/simple-datatables.js' %}"></script>
<script src="{% static 'assets/static/js/pages/simple-datatables.js' %}"></script>